@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.wrapper-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E9E8E0;
}

.background-container {
    background: url('/images/backgroundLogin.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}

header {
    height: 80px;
    min-height: 80px;
    background: #282828;
}

main {
    flex-grow: 1;
}

footer {
    height: 2em;
}

.links ul {
    list-style-type: none;
    display: flex;
}

.links li {
    flex-grow: 1;
    margin-right: 2em; 
}

header nav {
    display: flex;
    justify-content: space-between;
    background: #E9E8E0;
    height: 3em;
    margin: 1em 2em;
    align-items: center;
    border-radius: 5px;
    padding-left: 2em;
}
nav a:link {
    text-decoration: none;
    color: #242C35;
}

nav a:visited {
    text-decoration: none;
    color: #242C35;
}
.links a:hover {
    color: #D2AB99;
}
.brand h1 {
    font-weight: 300;
}

.books-container {
    display: flex;
    flex-flow: row;
    background: #282828;
    opacity: 0.85;
}

.books-list {
    margin-top: 1em;
    flex-grow: 1;
}

.categories-list {
    background: #000000;
    min-width: 300px;
    min-height: 400px;
    margin-right: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.categories-title {
    color: #E9E8E0;
    align-self: center;
    margin-bottom: 1em;
}

.categories-list li {
    list-style: none;
    margin-bottom: 0.4em;
    margin-left: 1em;
}

.categories-list a:link, .categories-list a:visited {
    color: #E9E8E0;
    text-decoration: none;
}

.categories-list a:hover {
    color: #D2AB99;
}

.book-card {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #228B22;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    color: #E9E8E0;
}

.book-card-left{
    min-width:250px;
}

.book-card-left .image-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.book-card-left img {
    max-width: 140px;
    max-height: 140px;
}

.book-card-right {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.book-card-right h2,
.book-card-right h3 {
    align-self: center;
}

.book-card-right h3 {
    margin-bottom: 1em;
}

.book-card-right a {
    align-self: flex-end;
}

.link-button:hover {
    background: #D2AB99;
}

.link-button:link,
.link-button:visited {
    text-decoration: none;
    color: #242C35;
}

.book-card-actions {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.link-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.link-button {
    font-family: inherit; /*наследование семейства шрифта от html или body*/
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: white;
    color: #242C35;
    padding: 0.3em 0.5em;
    font-size: 16px;
    cursor: pointer;
}

.link-button:hover {
    background: #282828;
    color: #D2AB99;
}

.link-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.space{
    flex-grow: 1;
}

.searchbar {
    border-radius: 10px;
    background: #228B22;
    text-decoration: none;
    color: #242C35;
    padding: 1em;
    margin: 1em;
    align-items: center;
}

.searchbar form {
    display: flex;
    align-items: center;
}

.searchbar label {
    color: #E9E8E0;
}

.searchbar input[type="text"] {
    flex-grow: 1;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}

.searchbar input[type="submit"] {
    background-color: #E9E8E0;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid
}

.searchbar input[type="submit"]:hover {
    background: #D2AB99;
}

.book-card-actions {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}
