@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif; /*ПОЗЖЕ ИСПРАВИТЬ НА ШРИФТ Circular!!!!*/
}

.wrapper {
    background-color: #E9E8E0;
    flex-grow: 1;
    display: grid;
}

.side-image {
    background: url('/images/backgroundLogin.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.content {
    padding: 1.5em;
    background: #000000;
    color: #E9E8E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.85;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content input {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background: #E9E8E0;
}

.content input[type="submit"] {
    border: 1px solid;
    border-radius: 5px;
    font-size: 1em;
    color: #242C35;
}

.content h1, .content h2 {
    margin-bottom: 1em;
    align-self: center;
}

.content p {
    margin-bottom: 2em;
}

.content a:link, .content a:visited {
    color: #D2AB99;
}

.content a:hover {
    text-decoration: none;
}

form {
    width: 640px;
}

.content input {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background: #808080;
}

.content input::placeholder {
    color: #C0C0C0;
    padding-left: 6px;
    font-family: inherit;
}

#RegistrationStart {
    font-family: inherit; /*наследование семейства шрифта от html или body*/
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #228B22;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#RegistrationStart:hover {
    background: #008000;
}

#RegistrationStart:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

#goLogin {
    font-family: inherit; /*наследование семейства шрифта от html или body*/
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #228B22;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#goLogin:hover {
    background: #008000;
}

#goLogin:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.error-messages ul {
    color: orangered;
    margin-bottom: 1em;
    font-weight: lighter;
    list-style-type: none;
}

.otdelitel {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*создаст нужное количество столбцов*/
}